.DS_Store
__pycache__/
*.ckpt
lightning_logs/
wandb/
results/
logs/
data/ConsensusSeqs_SNPsOnlyUnphased
data/ROSMAPConsensusSeqs_SNPsOnlyUnphased
data/gtex_eqtl_expression_matrix/Whole_Blood.v8.normalized_expression.bed.gz
data/gtex_eqtl_expression_matrix/Brain_Cortex.v8.normalized_expression.bed.gz
data/GTEx_Analysis_2017-06-05_v8_WholeGenomeSeq_838Indiv_Analysis_Freeze_SNPsOnly.vcf.gz*
data/expression-rosmap.parquet
data/hg38_genome.fa*
data/GTEx_gene_tpm.csv
data/tmp/*
data/VCF
data/gene_tpm_2017-06-05_v8_whole_blood.gct.gz
